.tablecontainer {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    padding: 10px;
    margin: 20px;
    grid-column-gap:70px;
}

.cards {
    box-shadow: 5px 5px 15px 5px #88888881;
    width: 18vw;
    min-height: 20vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.cards img {
    width: 18vw;
}

.cards h5 {
    margin: 10px;
    font-size: 15px;
}

.cards p {
    font-size: 11px;
}

.servicescontainer h1 {
    font-weight: 100;
    text-align: center;
}